# backend/.gitignore
config/firebase-service-account.json
config/barrister-web-f4b8f-firebase-adminsdk-fbsvc-cc6e9fa14d.json
firebase-service-account.json
service-account.base64.txt
.envfirebase-service-account.json
